@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
   scroll-behavior: smooth;
}
:root {
  --Bg-Color: linear-gradient(180deg, #1b0424, #3c1946);
  --Bg-card: linear-gradient(45deg, #4a1950, #7c3085, #4a1950);
  --text-color: white;
}
body {
  background: var(--Bg-Color);
  sc
}

.parent {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.social-container {
  display: flex;
  gap: 20px;
}
.social-container a {
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.social-container a i {
  color: black;
  font-size: 20px;
}
.social-container a::before {
  content: attr(data-social);
  padding: 8px 16px;
  color: white;
  background-color: var(--theme-color);
  text-decoration: none;
  position: absolute;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 200ms cubic-bezier(0.42, 0, 0.16, 1.75);
  box-shadow: 0 0 11px var(--theme-color, 0.6);
}
.social-container a:hover {
  background-color: var(--theme-color);
  box-shadow: 0 0 10px var(--theme-color, 0.6);
}
.social-container a:hover i {
  color: var(--text-color);
}
.social-container a::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--theme-color);
  transform: translateY();
  transform: translateY(0) rotate(0);
  opacity: 0;
  transition: 200ms cubic-bezier(0.42, 0, 0.16, 1.75);
}
.social-container a:hover::before {
  transform: translateY(-60px) rotate(0);
  opacity: 1;
  visibility: visible;
}
.social-container a:hover::after {
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}

/* animated heading--------------------------- */
.animated-heading {
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  top: 50px;
}
.animated-heading span {
  position: relative;
  text-transform: capitalize;
  /* display: inline-block; */
  width: 300px;
  vertical-align: bottom;
}
.animated-heading span::before {
  content: "";
  color: orangered;
  animation: words 20s infinite;
}
.animated-heading span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #e9ebf6;
  border-left: 5px solid orangered;
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #ff7f5000;
  }
}
@keyframes words {
  0%,
  20% {
    content: "Youtuber";
  }
  21%,
  40% {
    content: "Gamer";
  }
  41%,
  60% {
    content: "bloger";
  }
  61%,
  80% {
    content: "contentyu";
  }
  81%,
  100% {
    content: "actor";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.model {
  z-index: 9999;
  transition: 0.8s;
  width: 450px;
  border-radius: 9px;
  border: 1px solid #cccccc;
  position: fixed;
  left: 50%;
  top: -500%;
  transform: translate(-50%);
  box-shadow: 0 0 20px rgb(78, 67, 67);
  /* transform: translateY(-50%); */

  background: var(--Bg-Color);
}

.forminner {
  width: 100%;
  padding: 0px 10px;
}
.forminner p {
  text-align: center;
  padding: 10px 10px;
}
.forminner form {
  padding: 10px 15px;
}
.forminner form input {
  width: 100%;
  margin-top: 20px;
  background-color: #f0f4f5;
  padding: 14px;
  border: none;
  text-transform: uppercase;
  color: #b1b6bb;
  outline: none;
  border: 1px solid transparent;
}
.forminner form button {
  width: 100%;
  margin-top: 20px;
  padding: 15px 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color);
  background: var(--Bg-card);
  border: none;
  cursor: pointer;
}

.forminner form input:hover {
  border: 1px solid #ccc;
  box-shadow: 0 0 10px lightblue;
}
.forminner form input::placeholder {
  color: #b0b5ba;
}
.model h3 {
  position: relative;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}
.model h3 span {
  position: absolute;
  right: 15px;
  font-size: 20px;
  color: #c8c8c8;
  cursor: pointer;
}
.model h3 span:hover {
  color: black;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  position: sticky;
  top: 0;
  background-color: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 32px;
  max-width: 1600px;
}
.header-container nav > ul.active {
  display: flex;
}
.logo {
  font-size: 32px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}
nav ul {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  transition: 0.5s;
}
nav ul > li > a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 500;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
}
nav ul > li > a:hover,
nav ul > li > a.active {
  color: rgb(255, 255, 255);
  background-color: rgb(149, 0, 255);
  border: 2px solid white;
}

.TogleBtn {
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: none;
}
.TogleBtn.active .bar:nth-child(2) {
  opacity: 0;
}
.TogleBtn.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.TogleBtn.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
.activeUl {
  transform: translateX(500px) !important;
  /* display: block; */
}

/* fine header  */

.home {
  margin: 160px 200px;
}

.home-container {
  display: flex;
  gap: 6rem;
}

.home-p {
  color: black;
  background-color: rgba(128, 128, 128, 0.214);
  display: inline-block;
  border-radius: 25px;
  padding: 5px 10px;
  margin-bottom: 30px;
}

.home-s {
  font-weight: bold;
  color: green;
}

.info-home h1 {
  font-size: 70px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}

.info-home h3 {
  font-size: 40px;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

.info-p {
  color: #222;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}

.info-p p {
  padding-bottom: 5px;
}

.info-p2 {
  display: flex;
  gap: 1rem;
  color: #2c2c2c;
  font-size: 14px;
  padding-bottom: 20px;
}

.btnn {
  display: flex;
  gap: 1rem;
  padding-bottom: 30px;
}

.btn-home1 {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
}

.btn-home2 {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-home2:hover {
  background-color: #000000;
  color: #fff;
}

hr {
  width: 90%;
  font-weight: bold;
  color: gray;
}

.hhr {
  padding-bottom: 30px;
}

.follow {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.follow ul {
  display: flex;
  gap: 2rem;
  font-size: 20px;
}

.follow ul li {
  list-style: none;
}

.follow ul a {
  text-decoration: none;
  color: #000000;
}

.home img {
  width: 400px;
  border-radius: 10px;
}

/* fine home  */

.about {
  margin: 160px 200px;
}

.about p {
  padding-bottom: 30px;
  font-size: 13px;
  color: var(--text-color);
}

.about h1 {
  font-family: "Open Sans", sans-serif;
}

.title {
  padding-bottom: 20px;
}

.about .hrrr {
  width: 30%;
  padding-bottom: 40px;
}

.info-about {
  display: flex;
  flex-direction: column;
}

.about-container {
  display: flex;
  gap: 2rem;
}

.about img {
  position: relative;
  bottom: 85px;
  width: 400px;
  height: 400px;
  border-radius: 15px;
  border: 1px solid black;
}

.about h2 {
  padding-bottom: 30px;
}

.card {
  display: flex;
  gap: 2rem;
}

.c1 {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px solid black;
  padding: 5px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  background: var(--Bg-card);
}

.c1 h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.c1:hover {
  transform: translateY(-6px) scale(1.03);

  background-color: darkmagenta;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.project {
  margin: 160px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project p {
  padding-bottom: 20px;
  font-size: 13px;
  color: var(--text-color);
}

.project h1 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
}

.project hr {
  width: 10%;
}

.info-pro {
  padding-top: 20px;
}

.info-pro p {
  padding-bottom: 10px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.project-card {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  height: max-content;
}

.project-card:hover {
  transform: translateY(-6px);
}

.project-card figure img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}
.project-card figure {
  width: 100%;
  height: 100%;
}

.project-card h3 {
  color: #1e40af;
  margin-bottom: 8px;
}

.project-card p {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.skills {
  margin-bottom: 15px;
}

.skills a {
  display: inline-block;
  background: #e0e7ff;
  color: #1e3a8a;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 3px;
  transition: background 0.3s;
}

.skills a:hover {
  background: #c7d2fe;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  background: var(--Bg-Color);
  color: white;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 25px;
  font-size: 0.9rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn:hover {
  background: var(--Bg-card);
  border-radius: 25px;
}

.services {
  margin: 160px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services p {
  padding-bottom: 20px;
  font-size: 13px;
  color: rgb(50, 50, 50);
}

.services h1 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
}

.services hr {
  width: 10%;
}

.services-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.service-card {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.service-card img {
  width: 100px;
  margin-bottom: 15px;
  z-index: 1;
  position: relative;
}

.service-card h3 {
  color: purple;
  margin-bottom: 10px;
  transition: color 0.5s;
  position: relative;
  z-index: 1;
}

.service-card p {
  color: #555;
  font-size: 0.9rem;
  transition: color 0.5s;
  position: relative;
  z-index: 1;
}

.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: purple;
  z-index: 0;
  transition: 0.5s;
}

.service-card:hover::before {
  left: 0;
}

.service-card:hover h3,
.service-card:hover p {
  color: #fff;
}
/* ---------Faq---- */
.Faq {
  width: 100%;
  padding: 30px 20px;
}
.accordion {
  width: 100%;
  margin: auto;
  max-width: 600px;
  background: linear-gradient(135deg, #120017, #1b0424);
  /* background:var(--Bg-card); */
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 18px 20px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-header:hover {
  background: #450660;
}

.icon {
  font-size: 22px;
  transition: transform 0.3s;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.accordion-content p {
  padding: 15px 20px;
  color: #61f838;
  line-height: 1.6;
}

.accordion-item.active .accordion-content {
  max-height: 200px;
}

.accordion-item.active .icon {
  transform: rotate(45deg);
}

.contact {
  margin: 160px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact p {
  padding-bottom: 20px;
  font-size: 13px;
  color: rgb(50, 50, 50);
}

.contact h1 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
}

.contact hr {
  width: 10%;
}

.contact-content {
  padding-top: 50px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-info {
  flex: 1;
  min-width: 300px;
}

.contact-info p {
  font-size: 16px;
  margin-bottom: 25px;
  color: var(--text-color);
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  color: #222;
}

.contact-item i {
  font-size: 20px;
  color: var(--text-color);
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-link {
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  font-size: 20px;
  transition: all 0.3s ease;
}

.social-link:hover {
  transform: translateY(-5px);
  color: #fff;
}

.social-link[href*="github"]:hover {
  background: #000;
}

.social-link[href*="linkedin"]:hover {
  background: #0a66c2;
}

.social-link[href*="wa.me"]:hover {
  background: #25d366;
}

/* Form */
.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--Bg-card);
}

.btn-send {
  background: purple;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn-send:hover {
  background: var(--Bg-Color);
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  overflow-x: hidden;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
}

.footer-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: #474af0;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.footer-social a {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #474af0;
}

.footer-copy {
  font-size: 12px;
  color: #aaa;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.active-reveal {
  opacity: 1;
  transform: translateY(0);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  overflow: hidden;
  color: #00f0ff;
  text-align: center;
}

.hidden {
  opacity: 0;
  transform: translateY(-200px);
}

.fall {
  animation: fall 0.9s forwards;
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  60% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.loading-content h1,
.loading-content h2,
.loading-content i {
  margin: 20px 0;
}

.sub-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

#main-page {
  opacity: 0;
  transition: opacity 1s ease;
}

#main-page.visible {
  opacity: 1;
}
.sliderH {
  width: 100%;
  padding: 30px 0px;
}

.carousel {
  margin: auto;
  position: relative;
  width: 90%;
  max-width: 900px;
  overflow: hidden;
  border-radius: 16px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 450px;
}

.slide img {
  width: 100%;
  height: 100%;
  display: block;
}

/* Navigation Buttons */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 30px;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

/* Dots */
.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #fff;
}
